.App{
      background-image:linear-gradient(rgba(221, 216, 216, 0.9), rgba(255, 255, 255, 0.9)), url(pokemon-4657023_960_720.png)  ;
      background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}